.login-register{
    background-image: linear-gradient(to top, #03122a, #03163b, #11174b, #281359, #410562);
}
 .login-box{
    right: 50%;
    height: 80vh;
    top: 10%;
}
.register-box{
    right: 0%;
    height: 60vh;
    top: 10%;

  
} 
.login-box.active{
    right: -0%;
}
.register-box.active{
    right: 50%;
}